*{
    box-sizing:border-box;
}
html,body{
    margin:0;
    padding:0;
}
.title{
    text-align:center;
    font-size:1.4em;
    border-bottom: 1px solid #eee;
    
}
.nav-container{
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    
}
.nav-container ul{
    list-style-type: none;
    display:flex;
    
    
}
.nav-container ul li a {
    padding:3em;
    text-decoration:none;
    font-size: 1.2em;
    color: black;
    
}
.flex-container{
    display:flex;
    justify-content: center;
}
.flex-container > section{
    width:25%;
    margin:2em;
}
.flex-container .content-1{
    display: flex;
    flex-direction: column; 
}

.flex-container .content-2{
    margin-top:7em;
    height:400px;
}
.flex-container .content-3{
    margin-top:14em;
    height:300px;
}
.description{
    font-size: 1.5em;
}
.description::first-letter{
    font-size: 5em;
}
.work{
    text-decoration: none;
    color:#070717;
    
}

@media (max-width:768px){
    .flex-container{
        
        flex-direction: column;
    }
    .flex-container > section{
        width:70%;
        margin:1em;
    }
    .flex-container .content-1{
        display: flex;
    }
    .nav-container ul{
        flex-direction: column;
        
    }
    .nav-container ul li a{
        font-size: 2em;
    }
}